form.url-form
  .input
    label(for='label') Label
    input(type='text', id='label', name='label', placeholder='Posts', value=`${label || ''}`)
  .input
    label(for='color') Color
    input(type='color', id='color', name='color', value=`${color || '#a023ca'}`)
  .input
    label(for='style') Style
    select(id='style', name='style')
      option(value='flat' selected=style=='flat') Flat
      option(value='flat-square' selected=style=='flat-square') Flat Square
      option(value='plastic' selected=style=='plastic') Plastic
      option(value='for-the-badge' selected=style=='for-the-badge') For The Badge
      option(value='social' selected=style=='social') Social
  .input
    label(for='logo') Logo
    input(type='text', id='logo', name='logo', placeholder='lemmy', value=`${logo || ''}`)
  .input
    label(for='logoColor') Logo Color
    input(type='color', id='logoColor', name='logoColor', value=`${logoColor || '#ffffff'}`)
  .input
    label(for='prefix') Prefix
    input(type='text', id='prefix', name='prefix', value=`${prefix || ''}`)
  .input
    label(for='suffix') Suffix
    input(type='text', id='suffix', name='suffix', value=`${suffix || ''}`)
  .input
    label(for='link') Link
    input(type='text', id='link', name='link', placeholder='https://programming.dev', value=`${link || ''}`)
  .input
    label(for='labelColor') Label Color
    input(type='color', id='labelColor', name='labelColor', value=`${labelColor || '#585858'}`)
  button(type='submit') Refresh