doctype html 
html(lang='en')
  head
    title #{name} Badges
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Badges for showing off your site stats')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css')

    script(type="text/javascript" src='https://unpkg.com/htmx.org@1.9.9' defer)
    script(type="text/javascript" src='https://cdn.jsdelivr.net/npm/toastify-js' defer)
    script(type="text/javascript" src='/js/badges.js' defer)
    script(type="text/javascript" src='/js/particles.min.js' defer)
    script(type="text/javascript" src='/js/app.js' defer)
  
  body
    include partials/nav.pug
    #content
      #particles-js
      .page-content
        h1.badge-page-title #{name} Badges
        p(style="text-align:center;") Various badges for showing off your #{name} stats!
        p(style="text-align:center;color:#919191") Style them using the boxes below and then copy the markdown to your site description
        p(style="text-align:center;color:#919191") Some badges might be a little broken due to me mass putting them here but will be fine after being copied
        include partials/label-form.pug
        - var path = `/api/v1/site/domain/${url}`
        - var alt = `Site Domain`
        include partials/badge.pug
        - var path = `/api/v1/site/name/${url}`
        - var alt = `Site Name`
        include partials/badge.pug
        - var path = `/api/v1/site/version/${url}`
        - var alt = `Site Version`
        include partials/badge.pug
        - var path = `/api/v1/site/users/${url}`
        - var alt = `User Count`
        include partials/badge.pug
        - var path = `/api/v1/site/posts/${url}`
        - var alt = `Post Count`
        include partials/badge.pug
        - var path = `/api/v1/site/comments/${url}`
        - var alt = `Comment Count`
        include partials/badge.pug
        - var path = `/api/v1/site/communities/${url}`
        - var alt = `Community Count`
        include partials/badge.pug
        - var path = `/api/v1/site/users-active-day/${url}`
        - var alt = `Daily Active User Count`
        include partials/badge.pug
        - var path = `/api/v1/site/users-active-week/${url}`
        - var alt = `Weekly Active User Count`
        include partials/badge.pug
        - var path = `/api/v1/site/users-active-month/${url}`
        - var alt = `Monthly Active User Count`
        include partials/badge.pug
        - var path = `/api/v1/site/users-active-half-year/${url}`
        - var alt = `Half-Yearly Active User Count`
        include partials/badge.pug
        - var path = `/api/v1/site/enabled-downvotes/${url}`
        - var alt = `Is Downvotes Enabled`
        include partials/badge.pug
        - var path = `/api/v1/site/enabled-nsfw/${url}`
        - var alt = `Is NSFW Enabled`
        include partials/badge.pug



